<div class="footer">
            <div class="footer__top grid wide">
                <div class="row" id="mobile-tablet-footer">
                    <div class="footer__top-item l-3 m-3 c-6">
                        <img src="http://localhost:3000/img/footer1.png" alt="" class="footer__top-item-img">
                        <h3 class="footer__top-item-heading">Sản phẩm an toàn</h3>
                    </div>
                    <div class="footer__top-item l-3 m-3 c-6">
                        <img src="http://localhost:3000/img/footer2.png" alt="" class="footer__top-item-img">
                        <h3 class="footer__top-item-heading">Sản phẩm an toàn</h3>
                    </div>
                    <div class="footer__top-item l-3 m-3 c-6">
                        <img src="http://localhost:3000/img/footer3.png" alt="" class="footer__top-item-img">
                        <h3 class="footer__top-item-heading">Sản phẩm an toàn</h3>
                    </div>
                    <div class="footer__top-item l-3 m-3 c-6">
                        <img src="http://localhost:3000/img/footer4.png" alt="" class="footer__top-item-img">
                        <h3 class="footer__top-item-heading">Sản phẩm an toàn</h3>
                    </div>
                </div>
            </div>

            <div class="footer__bottom">
                <div class="grid wide">
                    <div class="row footer-mobile">
                        <div class="footer__bottom-item col l-4 m-4 c-12">
                            <div class="footer__top-item-data">
                                <h3 class="footer__bottom-item-heading">
                                    Trụ sở chính:
                                </h3>
                                <p class="footer__bottom-item-description">
                                    Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp VinCommerce Tầng 5, Mplaza SaiGon, 39 Lê
                                    Duẩn, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh,Việt Nam.
                                </p>
                            </div>
                        </div>
                        <div class="footer__bottom-item col l-4 m-4 c-12">
                            <div class="footer__top-item-data">
                                <h3 class="footer__bottom-item-heading">
                                    Địa chỉ giao dịch Tp.HCM:
                                </h3>
                                <p class="footer__bottom-item-description">
                                    Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp VinCommerce Tầng 5, Mplaza SaiGon, 39 Lê
                                    Duẩn, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh
                                </p>
                            </div>
                        </div>
                        <div class="footer__bottom-item col l-4 m-4 c-12">
                            <div class="footer__top-item-data">
                                <h3 class="footer__bottom-item-heading">Địa chỉ giao dịch Hà Nội:
                                </h3>
                                <p class="footer__bottom-item-description">
                                    Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp VinCommerce Tầng 5, Mplaza SaiGon, 39 Lê
                                    Duẩn, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh,Việt Nam.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>