<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VinMart</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="http://localhost:3000/css/grid.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <link rel="stylesheet" href="http://localhost:3000/css/admin.css">
    <link rel="stylesheet" href="http://localhost:3000/css/cart.css">
    <link rel="stylesheet" href="http://localhost:3000/css/mediareposion.css">
</head>

<body>
    <div class="main">
        {{>header}}
        {{{body}}}
        {{>footer}}
    </div>
        <div id="toast"></div>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
    <script src="http://localhost:3000/js/validator.js"></script>
    <script src="http://localhost:3000/js/app.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    
</body>

</html>